/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  font-family: "Poppins" , sans-serif;
}
body{
  position: relative;
  overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ctn-sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: #b3b3ff;
    padding: 6px 14px;
    z-index: 99;
    transition: all 1s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
