/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  font-family: "Poppins" , sans-serif;
}
body{
  position: relative;
  overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: #b3b3ff;
    padding: 6px 14px;
    z-index: 99;
    transition: all 1s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.logo_content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.logo_content .logo {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    padding: 6px 0px;
    margin-left: 30px;
    height: 21px;
    background: #b3b3ff;
    z-index: 99;
    transition: all 1s ease;
    overflow: hidden;
}

.logo_content #btn {
    width: 50px;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #cdd2d6;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    letter-spacing: 2px;
    padding: .8em 1em;
    transition: all .3s ease;
}

.btn {
    border: 0;
    padding: 0;
}

.nav_list {
    display: flex;
    flex-direction: column;
}

.list {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.list:hover {
    background-color: #b3b3b3;
    border-radius: 10px;
}

.links_name {
    width: 250px;
    margin-left: 35px;
    overflow: hidden;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #ffffff;
}

.icon {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    color: #ffffff;
    font-size: 30px;
}

.div_input {
    display: flex;
    align-items: center;
}

.input {
    height: 40px;
    margin-left: 35px;
    border-radius: 10px;
    border: none;
    outline: none;
}


/* 
.tooltip {
    position: relative;
    overflow: hidden;
    
}

.tooltip:hover {
    overflow: visible;
}
  
.tooltip .tooltip-content:hover {
    opacity: 1;
}

.tooltip .tooltip-content {
    
      background: #05a8ff;
      box-shadow: 0 5px 25px 5px  rgba(205,210,214,.8);
      box-sizing: border-box;
      color: #ffffff;
      font-size: 12px;
      line-height: 1.2;
      letter-spacing: 1px;
      max-width: 200px;
      min-width: 145px;
      padding: 1em;
      position: absolute;
      opacity: 0;
      transition: all .3s ease;
}

.tooltip .tooltip-content::after {
    background: #05a8ff;
    content: "";
    height: 10px;
    position: absolute;
    transform: rotate(45deg);
    width: 10px;
}
.tooltip .right .tooltip-content {
        left: calc(100% + 1.5em);
        top: 50%;
        transform: translateY(-50%);        
}

.tooltip .right .tooltip-content::after {
    left: -5px;
    margin-top: -5px;
    top: 50%;
  } */

.img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 12px;

}

.profile_content {
    display: flex;
    height: 100%;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
}

.profile .profile_details {
    display: flex;
    flex-direction: row;
    position: fixed;
    height: 300px;
    top: 1200px;
    left: 0;
    padding: 6px 0px;
    margin-left: 30px;
    background: #b3b3ff;
    z-index: 99;
    transition: all 1s ease;
    overflow: hidden;
}

.profile_details #log_out {
    width: 50px;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #cdd2d6;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    letter-spacing: 2px;
    padding: .8em 1em;
    transition: all .3s ease;
}